{% extends "base.html" %}
{% load static %}
{% block content %}

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="portfolio">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <h1 class="main-title">
                                        <u>
                                            <img src="{% static 'img/content/line.svg' %}" alt="">
                                        </u>
                                    </h1>
                                </div>
                                <!-- portfolio content -->
                                <div class="cm-portfolio">
                                     <div class="cm-portfolio-item">
                                        <!-- single portfolio -->
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/dashboad.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی داشبورد</a>
                                                <div class="cm-center-btn">
                                                    <a href="{% url 'portfolio:portfolioDetails' %}" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                                    Power BI, BI, Dax, SQL
                                                </div>
                                                <a class="title" href="{% url 'portfolio:portfolioDetails' %}">طراحی داشبورد های شرکت داروشیشه</a>
                                            </div>
                                        </div>
                                        <!-- single portfolio -->
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/hosein.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی وب</a>
                                                <div class="cm-center-btn">
                                                    <a href="{% url 'portfolio:portfolioDetails' %}" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <br/>
                                                    <span>نوع:</span>
                                               وب سایت و اپلیکیشن 
                                                </div>
                                                <a class="title" href="{% url 'portfolio:portfolioDetails' %}">طراحی رابط کاربری</a>
                                            </div>
                                        </div>
                                        <!-- single portfolio -->
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/07.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی بروسو</a>
                                                <div class="cm-center-btn">
                                                    <a href="{% url 'portfolio:portfolioDetails' %}" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                                    bpmn 2.0, bpmn 1.0
                                                </div>
                                                <a class="title" href="{% url 'portfolio:portfolioDetails' %}">
                                                    طراحی و راه اندازی نرم افزارهای اداری و سازمانی براساس BPMS
                                                </a>
                                            </div>
                                        </div>
                                        <!-- single portfolio 
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/04.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی موکاپ</a>
                                                <div class="cm-center-btn">
                                                    <a href="{% url 'portfolio:portfolioDetails' %}" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                                   یوایکس ، یو ای ، تری دی
                                                </div>
                                                <a class="title" href="{% url 'portfolio:portfolioDetails' %}">پی اس دی ، فیگما و ایکس دی دیزاین</a>
                                            </div>
                                        </div>-->
                                        <!-- single portfolio 
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/05.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی موکاپ</a>
                                                <div class="cm-center-btn">
                                                    <a href="{% url 'portfolio:portfolioDetails' %}" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                                   وب سایت و اپلیکیشن 
                                                </div>
                                                <a class="title" href="{% url 'portfolio:portfolioDetails' %}">الگوی مكانت مبلمان</a>
                                            </div>
                                        </div>-->
                                    </div>
                                    <!-- pagination 
                                    <div class="cm-site-pagination">
                                        <nav aria-label="pagination-area">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" tabindex="0">01</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                                <li class="page-item"><a class="page-link" href="#">04</a></li>
                                            </ul>
                                        </nav>
                                    </div> -->
                                    
                                </div>
                                <!-- portfolio content end -->
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->
                    <!-- footer area -->
                    {% endblock %}