{% extends "base.html" %}
{% load static %}
{% block content %}

                    <!-- content section -->
                    <div class="cm-content-area" data-barba="container" data-barba-namespace="about">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-circle">
                                        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                            <defs>
                                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                                </path>
                                            </defs>
                                            <text>
                                                <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                                </textPath>
                                            </text>
                                        </svg>
                                        <div class="circle-logo">
                                            <img src="{% static 'img/logo/circle-logo.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                            <img src="{% static 'img/icons/about.svg' %}" alt="icon" class="svg">
                                        </div>
                                        <p>درباره من</p>
                                    </div>
                                    <h1 class="main-title">
                                       بهترین فریلنسر را استخدام کنید<span>مبینا آرام</span>
                                        <u class="cm-inline">
                                            <img src="{% static 'img/content/line.svg' %}" alt="">
                                        </u>
                                      در ایران
                                    </h1>
                                </div>
                                <!-- about brief -->
                                <div class="cm-about-brief">
                                    <div class="cm-about-left">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                                        <div class="cm-rating">
                                            <div class="star-icon"><img src="{% static 'img/icons/star.svg' %}" alt="star" height="24" width="24"></div>
                                            <div class="cm-rating-count">
                                                <h4>5 ستاره</h4>
                                                <p>خواندن<a href="#">داستان موفقیت</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cm-about-right">
                                        <p>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد </p>
                                        <p class="cm-margin">
                                           برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد 
                                        </p>
                                    </div>
                                </div>
                                <!-- about brief end -->
                                <!-- about info -->
                                <div class="cm-about-info">
                                    <div class="cm-about-info-content">
                                        <div class="about-info">
                                            <h6 class="name">نام</h6>
                                            <p>مبینا آرام</p>
                                        </div>
                                        <div class="about-info">
                                            <h6 class="name">شماره</h6>
                                            <p>+99 (555) 666 88 55</p>
                                        </div>
                                    </div>
                                    <div class="cm-about-info-content">
                                        <div class="about-info">
                                            <h6 class="name">شرکت</h6>
                                            <p>یک مکان فرضی در اینجاست</p>
                                        </div>
                                        <div class="about-info">
                                            <h6 class="name">سابقه</h6>
                                            <p>12 سال</p>
                                        </div>
                                    </div>
                                </div>
                                <!--about info end  -->
                                <!-- client -->
                                <div class="cm-about-client">
                                    <div class="client-brand project-slider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-project">
                                                    <img src="{% static 'img/client/1.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-project">
                                                    <img src="{% static 'img/client/02.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-project">
                                                    <img src="{% static 'img/client/1.png' %}" alt="">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-project">
                                                    <img src="{% static 'img/client/1.png' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- client end -->
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    {% endblock %}                 