{% extends "base.html" %}
{% load static %}
{% block content %}
                    <!-- header area end -->

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="education">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/education.svg' %}" alt="education">
                                        </div>
                                        <p>آموزش و مهارت</p>
                                    </div>
                                    <h1 class="main-title">
                                         آموزش <ban> و </span>  تجربه های کاری
                                        <u>
                                            <img src="{% static 'img/content/line.svg' %}" alt="">
                                        </u>
                                    </h1>
                                </div>
                                <!-- education -->
                                <div class="cm-education-education">
                                    <div class="single-info-item">
                                        <h3>تحصیلات</h3>
                                        <div class="cm-education-timeline-content">
                                            <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name">دانشگاه پیام نور ابهر</h6>
                                                    <p>مهر 1388  - تیر 1392</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree"> مهندس نرم افزار </h6>
                                                    <p>در سال 1388 در داشنگاه پیام نور ابهر در زمینه مهندسی کامپیوتر گرایش نرم افزار مشغول به تحصیل شدم و پایان نامه در مقطع کارشناسی ساخت نرم افزار مشاور املاک بودکه با زبان سی شارپ ساختم و دیتابیس با اسکیول سرور 2008 انجام دادم</p>
                                                </div>
                                            </div>
                                           <!-- <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name">دانشگاه ایالتی انگلیس.</h6>
                                                    <p>1400-1402</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree">حسابداری و قانون</h6>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                                </div>
                                            </div>-->
                                        </div>
                                    </div>
                                    <!-- timeline two -->
                                    <div class="single-info-item">
                                        <h3>  تجربه های کاری من </h3>
                                        <div class="cm-education-timeline-content">
                                            <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name"> دارو شیشه قزوین</h6>
                                                    <p>فروردین 1398  - اکنون</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree"> کارشناس کامپیوتر</h6>
                                                    <p>در شرکت دارو شیشه مشغول به فعالیت در زمینه های تحلیل داده با نرم افزار Power BI و به عنوان Administrator سیستم و شبکه مشغول به کار هستم.</p>
                                                </div>
                                            </div>
                                            <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name"> کیوان ارتباطات عصر کاسپین</h6>
                                                    <p>مهر 1399  - اکنون</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree">عضو هئیت مدیر و کارشناس ارشد هوش تجاری </h6>
                                                    <p>یکی از اعضای هئیت مدیره شرکت هستم و در این شرکت در زمینه فعالیت به عنوان تحلیل داده و انجام پروژه های در زمینه هوش تجاری فعالیت می کنم</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- timeline two -->
                                    <div class="single-info-item">
                                        <div class="cm-row">
                                            <h3>مهارت ها</h3>
                                            <div class="cm-skill-container">
                                                <div class="single-skill-item">
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">Power BI - <span>90%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">Dax  - <span>69%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 69%"
                                                                aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="expertise__single">
                                                        <p class="expertise__title"> sql  - <span>60%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-skill-item cm-md-5">
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">Django  - <span>70%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 70%"
                                                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">Docker    - <span>60%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">git  -<span>95%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 95%"
                                                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    <!-- footer area -->
                    {% endblock %}