{% extends "base.html" %}
{% load static %}
{% block content %}
                    <!-- header area end -->

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="education">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-circle">
                                        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                            <defs>
                                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                                </path>
                                            </defs>
                                            <text font-size="8.75">
                                                <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                                </textPath>
                                            </text>
                                        </svg>
                                        <div class="circle-logo">
                                            <img src="{% static 'img/logo/circle-logo.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/education.svg' %}" alt="education">
                                        </div>
                                        <p>آموزش و مهارت</p>
                                    </div>
                                    <h1 class="main-title">
                                        بهترین <br> آموزش <ban> و </span> تجربه
                                        <u>
                                            <img src="{% static 'img/content/line.svg' %}" alt="">
                                        </u>
                                    </h1>
                                </div>
                                <!-- education -->
                                <div class="cm-education-education">
                                    <div class="single-info-item">
                                        <h3>تحصیلات</h3>
                                        <div class="cm-education-timeline-content">
                                            <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name">دانشگاه آکسفورد</h6>
                                                    <p>فروردین 1403  - اکنون</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree">حسابداری و قانون</h6>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                                </div>
                                            </div>
                                            <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name">دانشگاه ایالتی انگلیس.</h6>
                                                    <p>1400-1402</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree">حسابداری و قانون</h6>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- timeline two -->
                                    <div class="single-info-item">
                                        <h3> حرفه ای </h3>
                                        <div class="cm-education-timeline-content">
                                            <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name"> آژانس وب </h6>
                                                    <p>فروردین 1403  - اکنون</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree"> دولوپر</h6>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                                </div>
                                            </div>
                                            <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name"> کریمیا</h6>
                                                    <p>1400-1401</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree">توسعه وب</h6>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                                </div>
                                            </div>
                                            <div class="education-timeline">
                                                <div class="left-side">
                                                    <h6 class="uni-name">اکسیز کمپانی</h6>
                                                    <p>1398-1400</p>
                                                </div>
                                                <div class="right-side">
                                                    <h6 class="degree">طراح یو ای یو ایکس</h6>
                                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- timeline two -->
                                    <div class="single-info-item">
                                        <div class="cm-row">
                                            <h3>مهارت ها</h3>
                                            <div class="cm-skill-container">
                                                <div class="single-skill-item">
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">طراحی - <span>90%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 90%"
                                                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">جهت هنری - <span>89%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 89%"
                                                                aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="expertise__single">
                                                        <p class="expertise__title"> مارک تجاری - <span>60%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-skill-item cm-md-5">
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">وبسایت طراحی - <span>40%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 40%"
                                                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">یوای یو ایکس طراحی - <span>70%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 70%"
                                                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="expertise__single">
                                                        <p class="expertise__title">توسعه وب -<span>95%</span></p>
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: 95%"
                                                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    <!-- footer area -->
                    {% endblock %}