{% extends "base.html" %}
{% load static %}
{% block content %}

                    <!-- main content section -->
                    <div class="cm-content-area" data-barba="container" data-barba-namespace="index">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item index">
                                <div class="top-right-bg"></div>
                                <div class="cm-content-circle">
                                    <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                        <defs>
                                            <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                            </path>
                                        </defs>
                                        <text>
                                            <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                            </textPath>
                                        </text>
                                    </svg>
                                    <div class="circle-logo">
                                        <img src="{% static 'img/logo/circle-logo.svg' %}" alt="">
                                    </div>
                                </div>
                                <div class="cm-content-sub">
                                    <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/home.svg' %}" alt="">
                                    </div>
                                    <p>سلام، من اینجام</p>
                                </div>
                                <h1 class="main-title">
                                    من محصول نرم افزاری تولید میکنم
                                    و <span>طراحی</span> مینیمال
                                </h1>
                                <div class="cm-contact-zone">
                                    <a href="mailto:husein.samadi@gmail.com">
                                        <span><img src="{% static 'img/icons/email.svg' %}" alt="email" height="24" width="24"></span>
                                        husein.samadi@gmail.com
                                    </a>
                                    <a href="callto:09382866408">
                                        <span><img src="{% static 'img/icons/phone.svg' %}" alt="email" height="24" width="24"></span>
                                        09382866408
                                    </a>
                                </div>
                                <div class="cm-content-img">
                                    <img src="{% static 'img/content/code.png' %}" alt="code image" class="light-image">
                                    <img src="{% static 'img/content/code-dark.png' %}" alt="code image" class="dark-image">
                                </div>
                                <div class="cm-counter">
                                    <div class="cm-counter-single">
                                        <span class="count-item theme">31.2 هزار</span>
                                        <p>فروش محصول در روز با استفاده از ابزارهای خارج.</p>
                                    </div>
                                    <div class="cm-counter-single">
                                        <span class="count-item">2.3 میلیون</span>
                                        <p>مورد اعتماد مشتریان در سراسر جهان.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- main content section end -->

                 

{% endblock %}
