{% extends "base.html" %}
{% load static %}
{% block content %}

                    <!-- main content section -->
                    <div class="cm-content-area" data-barba="container" data-barba-namespace="index">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item index">
                                <div class="top-right-bg"></div>
                                <div class="cm-content-sub">
                                    <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/home.svg' %}" alt="">
                                    </div>
                                    <p>سلام، من اینجام</p>
                                </div>
                                <h1 class="main-title">
                                    توسعه دهنده طراح وب سایت
                                    <br/> 
                                    و
                                    هوش تجاری BI 
                                </h1>
                                <div class="cm-contact-zone">
                                    <a href="mailto:husein.samadi@gmail.com">
                                        <span><img src="{% static 'img/icons/email.svg' %}" alt="email" height="24" width="24"></span>
                                        husein.samadi@gmail.com
                                    </a>
                                    <a href="callto:09382866408">
                                        <span><img src="{% static 'img/icons/phone.svg' %}" alt="email" height="24" width="24"></span>
                                        09382866408
                                    </a>
                                </div>
                                <div class="cm-content-img">
                                    <img src="{% static 'img/content/code.png' %}" alt="code image" class="light-image">
                                    <img src="{% static 'img/content/code-dark.png' %}" alt="code image" class="dark-image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- main content section end -->

                 

{% endblock %}
