{% extends "base.html" %}
{% load static %}
{% block content %}

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="portfolio">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-circle">
                                        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                            <defs>
                                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                                </path>
                                            </defs>
                                            <text>
                                                <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                                </textPath>
                                            </text>
                                        </svg>
                                        <div class="circle-logo">
                                            <img src="{% static 'img/logo/circle-logo.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/portfolio.svg' %}" alt="">
                                        </div>
                                        <p>بهترین نمونه کارها ما</p>
                                    </div>
                                    <h1 class="main-title">
                                        بهترین <br>
                                        نمونه کارها <span> ما را ایجاد کنید </span>
                                        <u>
                                            <img src="{% static 'img/content/line.svg' %}" alt="">
                                        </u>
                                    </h1>
                                </div>
                                <!-- portfolio content -->
                                <div class="cm-portfolio">
                                     <div class="cm-portfolio-item">
                                        <!-- single portfolio -->
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/01.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی موکاپ</a>
                                                <div class="cm-center-btn">
                                                    <a href="portfolio-details.html" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                                   یوایکس ، یو ای ، تری دی
                                                </div>
                                                <a class="title" href="portfolio-details.html">پی اس دی ، فیگما و ایکس دی دیزاین</a>
                                            </div>
                                        </div>
                                        <!-- single portfolio -->
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/02.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی وب</a>
                                                <div class="cm-center-btn">
                                                    <a href="portfolio-details.html" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                               وب سایت و اپلیکیشن 
                                                </div>
                                                <a class="title" href="portfolio-details.html">طراحی رابط کاربری</a>
                                            </div>
                                        </div>
                                        <!-- single portfolio -->
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/03.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی بروسو</a>
                                                <div class="cm-center-btn">
                                                    <a href="portfolio-details.html" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                                برنامه موبایل
                                                </div>
                                                <a class="title" href="portfolio-details.html">طراحی الگوی مایکروسافت </a>
                                            </div>
                                        </div>
                                        <!-- single portfolio -->
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/04.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی موکاپ</a>
                                                <div class="cm-center-btn">
                                                    <a href="portfolio-details.html" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                                   یوایکس ، یو ای ، تری دی
                                                </div>
                                                <a class="title" href="portfolio-details.html">پی اس دی ، فیگما و ایکس دی دیزاین</a>
                                            </div>
                                        </div>
                                        <!-- single portfolio -->
                                        <div class="single-portfolio-content">
                                            <div class="cm-portfolio-thumb">
                                                <img src="{% static 'img/portfolio/05.jpg' %}" alt="portfolio-item">
                                                <a href="#" class="cm-portfolio-cat">طراحی موکاپ</a>
                                                <div class="cm-center-btn">
                                                    <a href="portfolio-details.html" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cm-portfolio-meta">
                                                <div class="cm-tag">
                                                    <span>نوع:</span>
                                                   وب سایت و اپلیکیشن 
                                                </div>
                                                <a class="title" href="portfolio-details.html">الگوی مكانت مبلمان</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- pagination -->
                                    <div class="cm-site-pagination">
                                        <nav aria-label="pagination-area">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" tabindex="0">01</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                                <li class="page-item"><a class="page-link" href="#">04</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    
                                </div>
                                <!-- portfolio content end -->
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->
                    <!-- footer area -->
                    {% endblock %}