{% extends "base.html" %}
{% load static %}
{% block content %}
                    <!-- header area end -->

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="portfolio-details">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-circle">
                                        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                            <defs>
                                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                                </path>
                                            </defs>
                                            <text font-size="8.75">
                                                <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                                </textPath>
                                            </text>
                                        </svg>
                                        <div class="circle-logo">
                                            <img src="{% static 'img/logo/circle-logo.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/portfolio.svg' %}" alt="">
                                        </div>
                                        <p>بهترین نمونه کارها ما</p>
                                    </div>
                                    <h1 class="main-title">
                                        بهترین <br>
                                        نمونه کارها <span> ما را ایجاد کنید </span>
                                    </h1>
                                </div>
                                <!-- portfolio content -->
                                <div class="cm-portfolio">
                                    <!-- cm portfolio details -->
                                    <div class="cm-portfolio-details mt-50">
                                        <div class="portfolio-content">
                                            <div class="project-thumb">
                                                <img src="{% static 'img/portfolio/06.jpg' %}" alt="project-thumb">
                                            </div>
                                            <div class="project-meta">
                                                <div class="client">
                                                    <span> مشتری ها: </span>
                                                    <span class="darker">دکتر حسنی</span>
                                                </div>
                                                <div class="category">
                                                    <span>دسته بندی:</span>
                                                    <a href="#" class="darker"> مشاوره تجاری </a>
                                                </div>
                                                <div class="deadline">
                                                    <span>زمان تحویل:</span>
                                                    <span class="darker">05 مهر 1403 </span>
                                                </div>
                                            </div>
                                            <h2 class="project-title">دیزاین فیگما</h2>
                                            <p class="project-description">رای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>
                                            <div class="project-feature">
                                                <ul>
                                                    <li class="project-feature__single">آیا طرح وب سایت در مورد طراحی را ارائه می دهید</li>
                                                    <li class="project-feature__single"> مارک تجاری با آژانس تجاری</li>
                                                    <li class="project-feature__single">چرا باید با یک آژانس بیش از یک فریلنسر کار کنم</li>
                                                    <li class="project-feature__single">چقدر برای برندسازی هزینه می کنید</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="portfolio-related mt-50">
                                        <div class="cm-portfolio-item">
                                            <!-- single portfolio -->
                                            <div class="single-portfolio-content">
                                                <div class="cm-portfolio-thumb">
                                                    <img src="{% static 'img/portfolio/04.jpg' %}" alt="portfolio-item">
                                                    <a href="#" class="cm-portfolio-cat">طراحی موکاپ</a>
                                                    <div class="cm-center-btn">
                                                        <a href="portfolio-details.html" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="cm-portfolio-meta">
                                                    <div class="cm-tag">
                                                        <span>نوع:</span>
                                                       یوایکس ، یو ای ، تری دی
                                                    </div>
                                                    <a class="title" href="#">پی اس دی ، فیگما و ایکس دی دیزاین</a>
                                                </div>
                                            </div>
                                            <!-- single portfolio -->
                                            <div class="single-portfolio-content">
                                                <div class="cm-portfolio-thumb">
                                                    <img src="{% static 'img/portfolio/05.jpg' %}" alt="portfolio-item">
                                                    <a href="#" class="cm-portfolio-cat">طراحی موکاپ</a>
                                                    <div class="cm-center-btn">
                                                        <a href="portfolio-details.html" class="cm-round-btn"><img src="{% static 'img/icons/rotate-arrow.svg' %}" alt="" height="20" width="20" class="flip">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="cm-portfolio-meta">
                                                    <div class="cm-tag">
                                                        <span>نوع:</span>
                                                       وب سایت و اپلیکیشن 
                                                    </div>
                                                    <a class="title" href="#">الگوی مكانت مبلمان</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- pagination -->
                                        <div class="cm-site-pagination">
                                            <nav aria-label="pagination-area">
                                                <ul class="pagination">
                                                    <li class="page-item">
                                                        <a class="page-link" href="#" tabindex="0">01</a>
                                                    </li>
                                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">04</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!-- portfolio content end -->
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->
                    
                    <!-- footer area -->
                    {% endblock %}