{% extends "base.html" %}
{% load static %}
{% block content %}

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="pricing">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-circle">
                                        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                            <defs>
                                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                                </path>
                                            </defs>
                                            <text>
                                                <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                                </textPath>
                                            </text>
                                        </svg>
                                        <div class="circle-logo">
                                            <img src="{% static 'img/logo/circle-logo.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/pricing.svg' %}" alt="">
                                        </div>
                                        <p> بهترین قیمت ما </p>
                                    </div>
                                    <h1 class="main-title">
                                        بهترین <br> قیمت گذاری <span> و </span> توصیفات
                                        <u>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="127" height="12" viewBox="0 0 127 12"
                                                fill="none">
                                                <path
                                                    d="M0 11C5.54507 11 7.15493 1 12.7 1C18.2451 1 19.8549 11 25.4 11C30.9451 11 32.5549 1 38.1 1C43.6451 1 45.2549 11 50.8 11C56.3451 11 57.9549 1 63.5 1C69.0451 1 70.6549 11 76.2 11C81.7451 11 83.3549 1 88.9 1C94.4451 1 96.0549 11 101.6 11C107.145 11 108.755 1 114.3 1C119.845 1 121.455 11 127 11"
                                                    stroke="#56B887" />
                                            </svg>
                                        </u>
                                    </h1>
                                </div>
                                <!-- page content -->
                                <div class="cm-pricing-area">
                                    <h3 class="section-title"> قیمت گذاری </h3>
                                    <div class="cm-pricing">
                                        <!-- single pricing table -->
                                        <div class="pricing-table">
                                            <div class="pricing-table__single">
                                                <div class="pricing-plan">
                                                    <h3 class="plan-name"> استاندارد </h3>
                                                    <div class="plan-switcher">
                                                        <button class="plan active"> ماهانه</button>
                                                        <span>/</span>
                                                        <button class="plan"> سالانه</button>
                                                    </div>
                                                </div>
                                                <div class="plan-trial">
                                                    <button class="plan-trial-btn"> امتحان رایگان </button>
                                                </div>
                                                <div class="plan-content">
                                                    <ul class="plan-content__list">
                                                        <li class="plan-content__list--item"><span>1</span> نصب </li>
                                                        <li class="plan-content__list--item"><span>باد</span> ژنراتور </li>
                                                        <li class="plan-content__list--item"><span>5 ماه</span> پشتیبانی تحویل </li>
                                                        <li class="plan-content__list--item">پشتیبانی با<span> 8 مهندس </span></li>
                                                        <li class="plan-content__list--item"><span>100%</span> صرفه جویی در انرژی </li>
                                                    </ul>
                                                </div>
                                                <div class="plan-price">
                                                    <sub class="dollar">تومان</sub>
                                                    <span class="price">116</span>
                                                    <sub class="billing-method">/ماهانه</sub>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single pricing table -->
                                        <div class="pricing-table">
                                            <div class="pricing-table__single">
                                                <div class="pricing-plan">
                                                    <h3 class="plan-name">پریمیوم</h3>
                                                    <div class="plan-switcher">
                                                        <button class="plan active"> ماهانه</button>
                                                        <span>/</span>
                                                        <button class="plan"> سالانه</button>
                                                    </div>
                                                </div>
                                                <div class="plan-trial">
                                                    <button class="plan-trial-btn"> امتحان رایگان </button>
                                                </div>
                                                <div class="plan-content">
                                                    <ul class="plan-content__list">
                                                        <li class="plan-content__list--item"><span>1</span> نصب </li>
                                                        <li class="plan-content__list--item"><span>باد</span> ژنراتور </li>
                                                        <li class="plan-content__list--item"><span>5 ماه</span> پشتیبانی تحویل </li>
                                                        <li class="plan-content__list--item">پشتیبانی با<span> 8 مهندس </span></li>
                                                        <li class="plan-content__list--item"><span>100%</span> صرفه جویی در انرژی </li>
                                                    </ul>
                                                </div>
                                                <div class="plan-price">
                                                    <sub class="dollar">تومان</sub>
                                                    <span class="price">116</span>
                                                    <sub class="billing-method">/ماهانه</sub>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- testimonial -->
                                <div class="cm-testimonial-area">
                                    <h3 class="section-title"> توصیفات </h3>
                                    <div class="cm-testimonials">
                                        <div class="cm-testimonial">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="cm-testimonial__single">
                                                        <div class="author-rating">
                                                            <div class="author">
                                                                <h5 class="name"> هنری لوکاس </h5>
                                                                <p class="designation"> طراحی با <span> کریمیا</span></p>
                                                            </div>
                                                            <div class="rating">
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                            </div>
                                                        </div>
                                                        <p class="description">رای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته،
                                                        </p>
                                                        <div class="testimonial-footer">
                                                            <div class="footer-left">
                                                                <p class="left-text">درآمد انفجاری <br>
                                                                    رشد <Pan> 12.5 هزار</span>
                                                                </p>
                                                            </div>
                                                            <div class="quote">
                                                                <span><img src="{% static 'img/icons/quote.svg' %}" class="svg" alt=""></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single slider -->
                                                <div class="swiper-slide">
                                                    <div class="cm-testimonial__single">
                                                        <div class="author-rating">
                                                            <div class="author">
                                                                <h5 class="name">سوهاگ</h5>
                                                                <p class="designation">دولوپر حرفه ای<span> متمیتک</span></p>
                                                            </div>
                                                            <div class="rating">
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                            </div>
                                                        </div>
                                                        <p class="description">رای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته،
                                                        </p>
                                                        <div class="testimonial-footer">
                                                            <div class="footer-left">
                                                                <p class="left-text">درآمد انفجاری <br>
                                                                    رشد <Pan> 12.5 هزار</Pan>
                                                                </p>
                                                            </div>
                                                            <div class="quote">
                                                                <span><img src="{% static 'img/icons/quote.svg' %}" class="svg" alt=""></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- single slider -->
                                                <div class="swiper-slide">
                                                    <div class="cm-testimonial__single">
                                                        <div class="author-rating">
                                                            <div class="author">
                                                                <h5 class="name">معصوم</h5>
                                                                <p class="designation"> طراحی با <span>اکسیز</span></p>
                                                            </div>
                                                            <div class="rating">
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                                <span><img src="{% static 'img/icons/star-svg.svg' %}" alt=""></span>
                                                            </div>
                                                        </div>
                                                        <p class="description">رای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته،
                                                        </p>
                                                        <div class="testimonial-footer">
                                                            <div class="footer-left">
                                                                <p class="left-text">درآمد انفجاری <br>
                                                                    رشد <Pan> 12.5 هزار</Pan>
                                                                </p>
                                                            </div>
                                                            <div class="quote">
                                                                <span><img src="{% static 'img/icons/quote.svg' %}" class="svg" alt=""></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pagination__dot"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    <!-- footer area -->
                    <div class="cm-footer">
                        <div class="cm-footer-content mode">
                            <p>کپی رایت © 1403 <a href="index.html">اکسیز</a>. تمامی حقوق محفوظ است.</p>
                            <a href="#top"><img src="{% static 'img/icons/arrow-top.svg' %}" alt="arrow-top" width="13" height="25" class="svg"></a>
                        </div>
                    </div>
                    {% endblock %}