{% extends "base.html" %}
{% load static %}
{% block content %}

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="service">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-circle">
                                        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                            <defs>
                                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                                </path>
                                            </defs>
                                            <text>
                                                <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                                </textPath>
                                            </text>
                                        </svg>
                                        <div class="circle-logo">
                                            <img src="{% static 'img/logo/circle-logo.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                            <img src="{% static 'img/icons/service.svg' %}" alt="" class="svg">
                                        </div>
                                        <p> بهترین خدمات ما </p>
                                    </div>
                                    <h1 class="main-title">
                                         بهترین <br>
                                        من خدمات <span> را انجام می دهم. </span>
                                        <u class="cm-block">
                                            <img src="{% static 'img/content/line.svg' %}" alt="">
                                        </u>
                                    </h1>
                                </div>
                                <div class="cm-services">
                                    <!-- single service -->
                                    <div class="single-service-item">
                                        <div class="service-count-item">
                                            <div class="service-icon">
                                                <img src="{% static 'img/icons/service-1.svg' %}" alt="">
                                            </div>
                                            <div class="service-count">
                                                <h6 class="service-title">استراتژی برند و جهت هنری</h6>
                                                <p class="project-count">(35+ پروژه)</p>
                                            </div>
                                        </div>
                                        <div class="service-list">
                                            <ul>
                                                <li><a href="#">طراحی یوای یوایکس</a></li>
                                                <li><a href="#">ریسرچ</a></li>
                                                <li><a href="#">اپلیکیشن و سایت</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- single service -->
                                    <div class="single-service-item">
                                        <div class="service-count-item">
                                            <div class="service-icon">
                                                <img src="{% static 'img/icons/service-2.svg' %}" alt="">
                                            </div>
                                            <div class="service-count">
                                                <h6 class="service-title">گرافیک حرکت و تعامل</h6>
                                                <p class="project-count">(100+ پروژه)</p>
                                            </div>
                                        </div>
                                        <div class="service-list">
                                            <ul>
                                                <li><a href="#">طراحی یوای یوایکس</a></li>
                                                <li><a href="#">ریسرچ</a></li>
                                                <li><a href="#">اپلیکیشن و سایت</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- single service -->
                                    <div class="single-service-item">
                                        <div class="service-count-item">
                                            <div class="service-icon">
                                                <img src="{% static 'img/icons/service-3.svg' %}" alt="">
                                            </div>
                                            <div class="service-count">
                                                <h6 class="service-title">توسعه جریان وب</h6>
                                                <p class="project-count">(55+ پروژه)</p>
                                            </div>
                                        </div>
                                        <div class="service-list">
                                            <ul>
                                                <li><a href="#">طراحی یوای یوایکس</a></li>
                                                <li><a href="#">ریسرچ</a></li>
                                                <li><a href="#">اپلیکیشن و سایت</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- single service -->
                                    <div class="single-service-item">
                                        <div class="service-count-item">
                                            <div class="service-icon">
                                                <img src="{% static 'img/icons/service-4.svg' %}" alt="">
                                            </div>
                                            <div class="service-count">
                                                <h6 class="service-title">طراحی اپلیکیشن و سایت </h6>
                                                <p class="project-count">(59+ پروژه)</p>
                                            </div>
                                        </div>
                                        <div class="service-list">
                                            <ul>
                                                <li><a href="#">طراحی یوای یوایکس</a></li>
                                                <li><a href="#">ریسرچ</a></li>
                                                <li><a href="#">اپلیکیشن و سایت</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    {% endblock %}                  