{% extends "base.html" %}
{% load static %}
{% block content %}
                    <!-- header area end -->

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="blog-details">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/blog.svg' %}" alt="">
                                        </div>
                                        <p>خبرها و بلاگ</p>
                                    </div>
                                    <h1 class="main-title">
                                          با حسین بی باک <br>
                                        بهترین خبرها<span> و </span> بلاگ
                                    </h1>
                                </div>
                        
                                <!-- blog content -->
                                <div class="cm-blogs">
                                    <div class="cm-blog">
                                        <article class="blog">
                                            <div class="feature-image">
                                                <img src="{% static 'img/blog/05.jpg' %}" alt="">
                                            </div>
                                            <div class="blog__meta">
                                                <span class="author"><a href="#"><img src="{% static 'img/icons/user.svg' %}" alt="user"> Towkib Ahmed</a></span>
                                                <span class="date"><img src="{% static 'img/icons/calendar.svg' %}" alt="calendar"> 9 اردیبهشت 1403 4</span>
                                            </div>
                                            <h2 class="blog__title">
                                                {{posts.title}}
                                            </h2>
                                            <p class="blog__description">
                                                {{posts.content}}
                                            </p>
                                            <!-- <h4 class="blog__subheading">مهارت ها و تجربه مربوطه را برجسته کنید:</h4>
                                            <p class="blog__description">
                                                پس از شناسایی الزامات اصلی کار ، رزومه خود را متناسب کنید تا مهارت ها و تجربیات مربوطه را برجسته کنید.اگر یک مهارت یا صلاحیت خاص در توضیحات شغلی ذکر شده است ، اطمینان حاصل کنید که برجسته در رزومه شما نشان داده شده است.از نمونه های بتونی استفاده کنید و هر زمان که ممکن باشد دستاوردهای خود را تعیین کنید تا توانایی های خود را نشان دهید.
                                            </p> -->
                                            <!-- Donate Link -->
                                            <h4 class="blog__subheading">حمایت مالی جهت نگهداری سایت حسین بی باک:</h4>
                                            <blockquote class="blog__blockquote">
                                                <span>درب رویای شما </span>
                                            </blockquote>
                                        </article>
                                        <!-- Pasge Next and Previous Page -->
                                        <div class="cm-blog__related">
                                            <div class="pagination-item">
                                                <a href="#" class="pagination-selector">
                                                    <span><img class="svg" src="{% static 'img/icons/arrow-right.svg' %}" alt="left-arrow"></span>
                                                    <p>بلاگ قبلی</p>
                                                </a>
                                                <a href="#" class="pagination-selector">
                                                    <p>بلاگ بعدی</p>
                                                    <span><img class="svg" src="{% static 'img/icons/arrow-left.svg' %}" alt="right-arrow"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Blog comment -->
                                        <!-- <div class="cm-blog__comment">
                                            <h3 class="section-title">نظرات پست</h3>
                                            <div class="cm-blog__comment--list">
                                                <ul>
                                                    <li class="single-comment">
                                                        <div class="comment-author">
                                                            <img src="{% static 'img/author/blog-6.jpg' %}" alt="monsur Rahman Lito">
                                                        </div>
                                                        <div class="comment-info">
                                                            <div class="author-link">
                                                                <div class="author">منصور رحمان</div>
                                                                <a href="#" class="reply-link">پاسخ</a>
                                                            </div>
                                                            <p class="single-comment__description"> مشاوره عالی!من همیشه در مورد شکار شغل به قدرت سفارشی سازی اعتقاد داشته ام.خیاطی رزومه خود به استخدام کنندگان نشان می دهد که کارهای خانه خود را انجام داده اید و واقعاً به این نقش علاقه مند هستند.قطعاً ارزش تلاش اضافی را دارد! </p>
                                                        </div>
                                                        <li class="single-comment__multicomment">
                                                            <div class="comment-author">
                                                                <img src="{% static 'img/author/02.png' %}" alt="monsur Rahman Lito">
                                                            </div>
                                                            <div class="comment-info">
                                                                <div class="author-link">
                                                                    <div class="author">منصور رحمان</div>
                                                                    <a href="#" class="reply-link">پاسخ</a>
                                                                </div>
                                                                <p class="single-comment__description"> نقطه روشن!تطبیق رزومه شما برای فرصت های مختلف شغلی می تواند تفاوت بین توجه یا گم شدن در شمع را ایجاد کند.</p>
                                                            </div>
                                                        </li>
                                                    </li>
                                                    <li class="single-comment">
                                                        <div class="comment-author">
                                                            <img src="{% static 'img/author/blog-6.jpg' %}" alt="monsur Rahman Lito">
                                                        </div>
                                                        <div class="comment-info">
                                                            <div class="author-link">
                                                                <div class="author">منصور رحمان</div>
                                                                <a href="#" class="reply-link">پاسخ</a>
                                                            </div>
                                                            <p class="single-comment__description"> این بسیار مهم است!من قبلاً همان رزومه عمومی را برای هر برنامه ارسال می کردم و نیازی به گفتن آن نبودم ، پاسخ زیادی دریافت نکردم.</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="cm-blog__commentbox">
                                            <h3 class="section-title">نظرات پست</h3>
                                            <div class="cm-blog__commentbox--template">
                                                <form action="#" class="cm-form">
                                                    <div class="single-input">
                                                        <div class="single-input__item">
                                                            <label for="fname">اسم کوچک شما <span>*</span></label>
                                                            <input type="text" name="fname" id="fname" required>
                                                        </div>
                                                        <div class="single-input__item">
                                                            <label for="lname">نام خانوادگی شما <span>*</span></label>
                                                            <input type="text" name="lname" id="lname" required>
                                                        </div>
                                                    </div>
                                                    <div class="single-input">
                                                        <div class="single-input__item">
                                                            <label for="email">آدرس ایمیل شما <span>*</span></label>
                                                            <input type="email" name="email" id="email" required>
                                                        </div>
                                                        <div class="single-input__item">
                                                            <label for="phone">شماره تلفن شما <span>*</span></label>
                                                            <input type="number" name="phone" id="phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="single-input">
                                                        <div class="single-input__item w-full">
                                                            <label for="msg">پیام شما <span>*</span></label>
                                                        <textarea name="msg" id="msg" required></textarea>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="cm-btn primary">ارسال</button>
                                                </form>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    <!-- footer area -->
                    {% endblock %}