{% extends "base.html" %}
{% load static %}
{% block content %}
                    <!-- header area end -->

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="blog-details">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/blog.svg' %}" alt="">
                                        </div>
                                        <p>خبرها و بلاگ</p>
                                    </div>
                                    <h1 class="main-title">
                                        با جیکوب مارتین <br>
                                        بهترین خبرها<span> و </span> بلاگ
                                    </h1>
                                </div>
                        
                                <!-- blog content -->
                                <div class="cm-blogs">
                                    <div class="cm-blog">
                                        <article class="blog">
                                            <div class="feature-image">
                                                <img src="{% static 'img/blog/05.jpg' %}" alt="">
                                            </div>
                                            <div class="blog__meta">
                                                <span class="author"><a href="#"><img src="{% static 'img/icons/user.svg' %}" alt="user"> Towkib Ahmed</a></span>
                                                <span class="date"><img src="{% static 'img/icons/calendar.svg' %}" alt="calendar"> 9 اردیبهشت 1403 4</span>
                                            </div>
                                            <h2 class="blog__title">
                                                تطبیق رزومه خود را برای فرصت های مختلف شغلی.
                                            </h2>
                                            <p class="blog__description">
                                                در دنیای رقابتی شکار شغلی ، رزومه شما اولین برداشت شما در مورد کارفرمایان بالقوه است.این سندی است که در مورد مهارت ها ، تجربیات و مناسب بودن شما برای نقشی که برای آن درخواست می کنید صحبت می کند.اما آنچه بسیاری از افراد متقاضی شغلی از آن غافل می شوند ، اهمیت خیاطی رزومه آنها برای هر فرصت خاص شغلی است.
                                            </p>
                                            <p class="blog__description">
                                                روزهایی که یک رزومه یک اندازه متناسب با هم کافی خواهد بود ، رفته است.امروز ، استخدام کنندگان و مدیران استخدام به دنبال نامزدهایی هستند که درک روشنی از نیازهای شغلی نشان می دهند و می توانند به طور مؤثر نشان دهند که پیشینه آنها چگونه با این نقش هماهنگ است.در اینجا برخی از استراتژی های کلیدی برای تطبیق رزومه شما با فرصت های شغلی مختلف آورده شده است:
                                            </p>
                                            <h4 class="blog__subheading"> توضیحات شغلی را مطالعه کنید:</h4>
                                            <p class="blog__description">
                                               قبل از شروع کار با رزومه خود ، توضیحات شغلی را با دقت بخوانید تا موقعیت مورد نظر خود را انجام دهید.به صلاحیت ها ، مهارت ها و تجربه ای که کارفرما به دنبال آن است توجه کنید.لیستی از کلمات کلیدی و عباراتی را که در طول ارسال شغل تکرار می شود ، تهیه کنید.
                                            </p>
                                            <h4 class="blog__subheading">مهارت ها و تجربه مربوطه را برجسته کنید:</h4>
                                            <p class="blog__description">
                                                پس از شناسایی الزامات اصلی کار ، رزومه خود را متناسب کنید تا مهارت ها و تجربیات مربوطه را برجسته کنید.اگر یک مهارت یا صلاحیت خاص در توضیحات شغلی ذکر شده است ، اطمینان حاصل کنید که برجسته در رزومه شما نشان داده شده است.از نمونه های بتونی استفاده کنید و هر زمان که ممکن باشد دستاوردهای خود را تعیین کنید تا توانایی های خود را نشان دهید.
                                            </p>
                                            <h4 class="blog__subheading">خلاصه حرفه ای خود را سفارشی کنید:</h4>
                                            <p class="blog__description">
                                               خلاصه حرفه ای یا بیانیه عینی شما اولین بخش از رزومه شما است که استخدام کنندگان می خوانند.از این فضا استفاده کنید تا به طور خلاصه تجربه خود را خلاصه کنید و چگونگی تراز آن با کار خاصی که متقاضی هستید ، برجسته کنید.خلاصه خود را برای تأکید بر مهارت ها و خصوصیاتی که بیشتر مربوط به موقعیت هستند ، متناسب کنید.
                                            </p>
                                            <h4 class="blog__subheading">تجربه کاری خود را اصلاح کنید:</h4>
                                            <p class="blog__description">
                                                در حالی که ارائه یک مرور کلی از تاریخچه کار خود مهم است ، اما همه تجربیات گذشته ممکن است به هر کاری که درخواست می کنید به همان اندازه مرتبط نباشد.در مورد اینکه کدام نقش ها و دستاوردها را در رزومه خود درج می کنید ، انتخاب کنید ، با تمرکز بر روی مواردی که بیشتر با شغلی که به دنبال آن هستید مرتبط باشد.برای تأکید بر مهمترین جنبه های هر موقعیت ، از تغییر مجدد یا استفاده مجدد از گلوله ها دریغ نکنید.
                                            </p>
                                            <h4 class="blog__subheading">آموزش و گواهینامه های خود را تنظیم کنید:</h4>
                                            <p class="blog__description">
                                                به همین ترتیب ، ممکن است شما نیاز به تنظیم نحوه ارائه تحصیلات و گواهینامه های خود بسته به الزامات کار داشته باشید.اگر این موقعیت تأکید جدی بر مدارک تحصیلی یا گواهینامه های خاص دارد ، اطمینان حاصل کنید که این اعتبارنامه ها به طور برجسته در رزومه شما نمایش داده می شوند.از طرف دیگر ، اگر تجربه کار گسترده ای داشته باشید ، ممکن است به جای آن تصمیم بگیرید که این بخش را در اولویت قرار دهید.
                                            </p>

                                            <blockquote class="blog__blockquote">
                                                خیاطی رزومه خود برای فرصت های مختلف شغلی مانند شخصی سازی یک کلید برای باز کردن است  
                                                <span>درب رویای شما </span> حرفه.
                                            </blockquote>
                                            <h4 class="blog__subheading">قالب رزومه خود را تنظیم کنید: </h4>
                                            <p class="blog__description">
                                                علاوه بر سفارشی کردن محتوای رزومه خود ، متناسب با فرمت و طراحی متناسب با صنعت یا شرکتی که در آن درخواست می کنید ، در نظر بگیرید.برای زمینه های خلاق ، ممکن است انعطاف پذیری بیشتری برای نمایش شخصیت و مهارت های طراحی خود داشته باشید ، در حالی که صنایع سنتی ممکن است یک قالب محافظه کارانه تر و ساده تر را ترجیح دهند.
                                            </p>
                                            <h4 class="blog__subheading">تصحیح و بررسی: </h4>
                                            <p class="blog__description">
                                                سرانجام ، قبل از ارسال رزومه خود ، وقت خود را برای تصحیح دقیق آن و اطمینان از عاری از تایپ ، خطاهای گرامری و مسائل مربوط به قالب بندی اطمینان حاصل کنید.برای بررسی رزومه خود و ارائه بازخورد از دیدگاه بیرونی ، از یک دوست ، مربی یا تماس حرفه ای بخواهید.
                                            </p>
                                            <p class="blog__description">
                                              در پایان ، تطبیق رزومه خود برای فرصت های مختلف شغلی برای به حداکثر رساندن شانس موفقیت شما در بازار کار رقابتی امروز ضروری است.با تنظیم دقیق رزومه خود برای تراز کردن با الزامات خاص هر موقعیت ، می توانید مناسب بودن خود را برای این نقش نشان داده و تأثیر جدی بر کارفرمایان بالقوه ایجاد کنید.به یاد داشته باشید که توضیحات شغلی را مطالعه کنید ، مهارت ها و تجربه های مربوطه را برجسته کنید ، خلاصه حرفه ای خود را سفارشی کنید ، تجربه کاری خود را تغییر دهید ، آموزش و گواهینامه های خود را تنظیم کنید ، قالب رزومه خود را تنظیم کنید و قبل از ارسال ، تصحیح و بررسی کنید.با استفاده از این استراتژی ها ، شما مجهز خواهید بود تا از جمعیت ایستادگی کنید و کار رویایی خود را فرود بیاورید.
                                            </p>
                                        </article>
                                        <div class="cm-blog__related">
                                            <div class="pagination-item">
                                                <a href="#" class="pagination-selector">
                                                    <span><img class="svg" src="{% static 'img/icons/arrow-right.svg' %}" alt="left-arrow"></span>
                                                    <p>بلاگ قبلی</p>
                                                </a>
                                                <a href="#" class="pagination-selector">
                                                    <p>بلاگ بعدی</p>
                                                    <span><img class="svg" src="{% static 'img/icons/arrow-left.svg' %}" alt="right-arrow"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cm-blog__comment">
                                            <h3 class="section-title">نظرات پست</h3>
                                            <div class="cm-blog__comment--list">
                                                <ul>
                                                    <li class="single-comment">
                                                        <div class="comment-author">
                                                            <img src="{% static 'img/author/blog-6.jpg' %}" alt="monsur Rahman Lito">
                                                        </div>
                                                        <div class="comment-info">
                                                            <div class="author-link">
                                                                <div class="author">منصور رحمان</div>
                                                                <a href="#" class="reply-link">پاسخ</a>
                                                            </div>
                                                            <p class="single-comment__description"> مشاوره عالی!من همیشه در مورد شکار شغل به قدرت سفارشی سازی اعتقاد داشته ام.خیاطی رزومه خود به استخدام کنندگان نشان می دهد که کارهای خانه خود را انجام داده اید و واقعاً به این نقش علاقه مند هستند.قطعاً ارزش تلاش اضافی را دارد! </p>
                                                        </div>
                                                        <li class="single-comment__multicomment">
                                                            <div class="comment-author">
                                                                <img src="{% static 'img/author/02.png' %}" alt="monsur Rahman Lito">
                                                            </div>
                                                            <div class="comment-info">
                                                                <div class="author-link">
                                                                    <div class="author">منصور رحمان</div>
                                                                    <a href="#" class="reply-link">پاسخ</a>
                                                                </div>
                                                                <p class="single-comment__description"> نقطه روشن!تطبیق رزومه شما برای فرصت های مختلف شغلی می تواند تفاوت بین توجه یا گم شدن در شمع را ایجاد کند.</p>
                                                            </div>
                                                        </li>
                                                    </li>
                                                    <li class="single-comment">
                                                        <div class="comment-author">
                                                            <img src="{% static 'img/author/blog-6.jpg' %}" alt="monsur Rahman Lito">
                                                        </div>
                                                        <div class="comment-info">
                                                            <div class="author-link">
                                                                <div class="author">منصور رحمان</div>
                                                                <a href="#" class="reply-link">پاسخ</a>
                                                            </div>
                                                            <p class="single-comment__description"> این بسیار مهم است!من قبلاً همان رزومه عمومی را برای هر برنامه ارسال می کردم و نیازی به گفتن آن نبودم ، پاسخ زیادی دریافت نکردم.</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="cm-blog__commentbox">
                                            <h3 class="section-title">نظرات پست</h3>
                                            <div class="cm-blog__commentbox--template">
                                                <form action="#" class="cm-form">
                                                    <div class="single-input">
                                                        <div class="single-input__item">
                                                            <label for="fname">اسم کوچک شما <span>*</span></label>
                                                            <input type="text" name="fname" id="fname" required>
                                                        </div>
                                                        <div class="single-input__item">
                                                            <label for="lname">نام خانوادگی شما <span>*</span></label>
                                                            <input type="text" name="lname" id="lname" required>
                                                        </div>
                                                    </div>
                                                    <div class="single-input">
                                                        <div class="single-input__item">
                                                            <label for="email">آدرس ایمیل شما <span>*</span></label>
                                                            <input type="email" name="email" id="email" required>
                                                        </div>
                                                        <div class="single-input__item">
                                                            <label for="phone">شماره تلفن شما <span>*</span></label>
                                                            <input type="number" name="phone" id="phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="single-input">
                                                        <div class="single-input__item w-full">
                                                            <label for="msg">پیام شما <span>*</span></label>
                                                        <textarea name="msg" id="msg" required></textarea>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="cm-btn primary">ارسال</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    <!-- footer area -->
                    {% endblock %}