<!DOCTYPE html>
<html lang="en" data-theme="dark" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AXZ - Template for Seamless Personal Portfolio HTML5 Template">
    <meta name="keywords" content="CV, Personal, Writer, Designer, Developer">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Creativemela">
    <title>اکسیز - الگو برای نمونه کارها شخصی بی نظیر اچ تی ام ال 5 پوسته </title>
    <!-- favicon -->
     <link rel="icon" type="image/png" href="assets/img/logo/favicon.png">
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- swiper slider css -->
    <link rel="stylesheet" href="assets/css/swiper__bundle.css">
    <!-- normalize css -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!-- style css -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
    <body>
        
        <div class="cm-content" data-barba="wrapper">
            <div class="container">
                <!-- mobile menu -->
                <div class="cm-mobile-menu">
                    <div class="cm-header-menu mode">
                        <div class="menu-left">
                            <div class="logo-area">
                                <a href="index.html"><img class="light" src="assets/img/logo/logo.svg" alt="axz"></a>
                                <a href="index.html"><img class="dark" src="assets/img/logo/dark-logo.svg" alt="axz"></a>
                            </div>
                            <div class="header-menu">
                                <ul class="list-unstyled">
                                    <li><a href="index.html">خانه</a></li>
                                    <li><a href="contact.html" class="hire">استخدام من!</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="cm-functionality cm-right">
                            <div class="setting" >
                                <div class="mode-switcher mode-mobile" id="theme-mode-2">
                                    <img class="light svg" src="assets/img/icons/moon.svg" alt="">
                                    <img class="dark svg" src="assets/img/icons/sun.svg" alt="">
                                </div>
                            </div>
                            <div class="offcanvase">
                                <img src="assets/img/icons/bars.svg" alt="menu-bar" class="svg">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mobile menu end -->
                <!-- author -->
                <div class="cm-author-view mode sticky-top">
                    <div class="cm-author-content ">
                        <div class="cm-author-image m-img">
                            <img src="assets/img/author/blog-6.jpg" alt="">
                             <a href="#" class="author-dribble-link">
                                <img src="assets/img/icons/dribble.svg" alt="">
                            </a>
                        </div>
                        <div class="cm-author-info">
                            <h3 class="cm-author-name">مبینا آرام</h3>
                            <span class="cm-author-designation"> طراح و توسعه دهنده </span>
                        </div>
                        <div class="cm-author-hiring">
                            <a href="contact.html" class="cm-btn primary">استخدام من!</a>
                            <a href="#" class="cm-btn">دانلود رزومه</a>
                        </div>
                        <div class="cm-author-description">
                            <p> متخصص در استراتژی ، بهبود بلوغ طراحی و سیستم های طراحی. </p>
                        </div>
                        <div class="cm-author-social-links">
                            <a href="#" class="social-links">
                            <img src="assets/img/icons/facebook.svg" alt="facebook" height="18" width="18" class="svg">
                            </a>
                            <a href="#" class="social-links">
                                <img src="assets/img/icons/twitter-x.svg" alt="twitter-x" height="18" width="18" class="svg">
                            </a>
                            <a href="#" class="social-links">
                                <img src="assets/img/icons/instagram.svg" alt="instagram" height="18" width="18" class="svg">
                            </a>
                            <a href="#" class="social-links">
                                <img src="assets/img/icons/linkedin.svg" alt="linkedin" height="18" width="18" class="svg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- author end -->

                <!-- main content -->
                <div class="cm-axz-content">
                    <!-- header area -->
                    <div class="cm-header sticky-top">
                        <div class="cm-header-menu mode">
                            <div class="menu-left">
                                <div class="logo-area">
                                    <a href="index.html"><img class="light" src="assets/img/logo/logo.svg" alt="axz"></a>
                                    <a href="index.html"><img class="dark" src="assets/img/logo/dark-logo.svg" alt="axz"></a>
                                </div>
                                <div class="header-menu">
                                    <ul class="list-unstyled">
                                        <li><a href="index.html">خانه</a></li>
                                        <li><a href="contact.html" class="hire">استخدام من!</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cm-functionality cm-right">
                                <div class="setting" >
                                    <div class="mode-switcher" id="theme-mode">
                                        <img class="light svg" src="assets/img/icons/moon.svg" alt="">
                                        <img class="dark svg" src="assets/img/icons/sun.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header area end -->

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="blog-details">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-circle">
                                        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                            <defs>
                                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                                </path>
                                            </defs>
                                            <text>
                                                <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                                </textPath>
                                            </text>
                                        </svg>
                                        <div class="circle-logo">
                                            <img src="assets/img/logo/circle-logo.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="assets/img/icons/blog.svg" alt="">
                                        </div>
                                        <p>خبرها و بلاگ</p>
                                    </div>
                                    <h1 class="main-title">
                                        با جیکوب مارتین <br>
                                        بهترین خبرها<span> و </span> بلاگ
                                    </h1>
                                </div>
                        
                                <!-- blog content -->
                                <div class="cm-blogs">
                                    <div class="cm-blog">
                                        <article class="blog">
                                            <div class="feature-image">
                                                <img src="assets/img/blog/05.jpg" alt="">
                                            </div>
                                            <div class="blog__meta">
                                                <span class="author"><a href="#"><img src="assets/img/icons/user.svg" alt="user"> Towkib Ahmed</a></span>
                                                <span class="date"><img src="assets/img/icons/calendar.svg" alt="calendar"> 9 اردیبهشت 1403 4</span>
                                            </div>
                                            <h2 class="blog__title">
                                                تطبیق رزومه خود را برای فرصت های مختلف شغلی.
                                            </h2>
                                            <p class="blog__description">
                                                در دنیای رقابتی شکار شغلی ، رزومه شما اولین برداشت شما در مورد کارفرمایان بالقوه است.این سندی است که در مورد مهارت ها ، تجربیات و مناسب بودن شما برای نقشی که برای آن درخواست می کنید صحبت می کند.اما آنچه بسیاری از افراد متقاضی شغلی از آن غافل می شوند ، اهمیت خیاطی رزومه آنها برای هر فرصت خاص شغلی است.
                                            </p>
                                            <p class="blog__description">
                                                روزهایی که یک رزومه یک اندازه متناسب با هم کافی خواهد بود ، رفته است.امروز ، استخدام کنندگان و مدیران استخدام به دنبال نامزدهایی هستند که درک روشنی از نیازهای شغلی نشان می دهند و می توانند به طور مؤثر نشان دهند که پیشینه آنها چگونه با این نقش هماهنگ است.در اینجا برخی از استراتژی های کلیدی برای تطبیق رزومه شما با فرصت های شغلی مختلف آورده شده است:
                                            </p>
                                            <h4 class="blog__subheading"> توضیحات شغلی را مطالعه کنید:</h4>
                                            <p class="blog__description">
                                               قبل از شروع کار با رزومه خود ، توضیحات شغلی را با دقت بخوانید تا موقعیت مورد نظر خود را انجام دهید.به صلاحیت ها ، مهارت ها و تجربه ای که کارفرما به دنبال آن است توجه کنید.لیستی از کلمات کلیدی و عباراتی را که در طول ارسال شغل تکرار می شود ، تهیه کنید.
                                            </p>
                                            <h4 class="blog__subheading">مهارت ها و تجربه مربوطه را برجسته کنید:</h4>
                                            <p class="blog__description">
                                                پس از شناسایی الزامات اصلی کار ، رزومه خود را متناسب کنید تا مهارت ها و تجربیات مربوطه را برجسته کنید.اگر یک مهارت یا صلاحیت خاص در توضیحات شغلی ذکر شده است ، اطمینان حاصل کنید که برجسته در رزومه شما نشان داده شده است.از نمونه های بتونی استفاده کنید و هر زمان که ممکن باشد دستاوردهای خود را تعیین کنید تا توانایی های خود را نشان دهید.
                                            </p>
                                            <h4 class="blog__subheading">خلاصه حرفه ای خود را سفارشی کنید:</h4>
                                            <p class="blog__description">
                                               خلاصه حرفه ای یا بیانیه عینی شما اولین بخش از رزومه شما است که استخدام کنندگان می خوانند.از این فضا استفاده کنید تا به طور خلاصه تجربه خود را خلاصه کنید و چگونگی تراز آن با کار خاصی که متقاضی هستید ، برجسته کنید.خلاصه خود را برای تأکید بر مهارت ها و خصوصیاتی که بیشتر مربوط به موقعیت هستند ، متناسب کنید.
                                            </p>
                                            <h4 class="blog__subheading">تجربه کاری خود را اصلاح کنید:</h4>
                                            <p class="blog__description">
                                                در حالی که ارائه یک مرور کلی از تاریخچه کار خود مهم است ، اما همه تجربیات گذشته ممکن است به هر کاری که درخواست می کنید به همان اندازه مرتبط نباشد.در مورد اینکه کدام نقش ها و دستاوردها را در رزومه خود درج می کنید ، انتخاب کنید ، با تمرکز بر روی مواردی که بیشتر با شغلی که به دنبال آن هستید مرتبط باشد.برای تأکید بر مهمترین جنبه های هر موقعیت ، از تغییر مجدد یا استفاده مجدد از گلوله ها دریغ نکنید.
                                            </p>
                                            <h4 class="blog__subheading">آموزش و گواهینامه های خود را تنظیم کنید:</h4>
                                            <p class="blog__description">
                                                به همین ترتیب ، ممکن است شما نیاز به تنظیم نحوه ارائه تحصیلات و گواهینامه های خود بسته به الزامات کار داشته باشید.اگر این موقعیت تأکید جدی بر مدارک تحصیلی یا گواهینامه های خاص دارد ، اطمینان حاصل کنید که این اعتبارنامه ها به طور برجسته در رزومه شما نمایش داده می شوند.از طرف دیگر ، اگر تجربه کار گسترده ای داشته باشید ، ممکن است به جای آن تصمیم بگیرید که این بخش را در اولویت قرار دهید.
                                            </p>

                                            <blockquote class="blog__blockquote">
                                                خیاطی رزومه خود برای فرصت های مختلف شغلی مانند شخصی سازی یک کلید برای باز کردن است  
                                                <span>درب رویای شما </span> حرفه.
                                            </blockquote>
                                            <h4 class="blog__subheading">قالب رزومه خود را تنظیم کنید: </h4>
                                            <p class="blog__description">
                                                علاوه بر سفارشی کردن محتوای رزومه خود ، متناسب با فرمت و طراحی متناسب با صنعت یا شرکتی که در آن درخواست می کنید ، در نظر بگیرید.برای زمینه های خلاق ، ممکن است انعطاف پذیری بیشتری برای نمایش شخصیت و مهارت های طراحی خود داشته باشید ، در حالی که صنایع سنتی ممکن است یک قالب محافظه کارانه تر و ساده تر را ترجیح دهند.
                                            </p>
                                            <h4 class="blog__subheading">تصحیح و بررسی: </h4>
                                            <p class="blog__description">
                                                سرانجام ، قبل از ارسال رزومه خود ، وقت خود را برای تصحیح دقیق آن و اطمینان از عاری از تایپ ، خطاهای گرامری و مسائل مربوط به قالب بندی اطمینان حاصل کنید.برای بررسی رزومه خود و ارائه بازخورد از دیدگاه بیرونی ، از یک دوست ، مربی یا تماس حرفه ای بخواهید.
                                            </p>
                                            <p class="blog__description">
                                              در پایان ، تطبیق رزومه خود برای فرصت های مختلف شغلی برای به حداکثر رساندن شانس موفقیت شما در بازار کار رقابتی امروز ضروری است.با تنظیم دقیق رزومه خود برای تراز کردن با الزامات خاص هر موقعیت ، می توانید مناسب بودن خود را برای این نقش نشان داده و تأثیر جدی بر کارفرمایان بالقوه ایجاد کنید.به یاد داشته باشید که توضیحات شغلی را مطالعه کنید ، مهارت ها و تجربه های مربوطه را برجسته کنید ، خلاصه حرفه ای خود را سفارشی کنید ، تجربه کاری خود را تغییر دهید ، آموزش و گواهینامه های خود را تنظیم کنید ، قالب رزومه خود را تنظیم کنید و قبل از ارسال ، تصحیح و بررسی کنید.با استفاده از این استراتژی ها ، شما مجهز خواهید بود تا از جمعیت ایستادگی کنید و کار رویایی خود را فرود بیاورید.
                                            </p>
                                        </article>
                                        <div class="cm-blog__related">
                                            <div class="pagination-item">
                                                <a href="#" class="pagination-selector">
                                                    <span><img class="svg" src="assets/img/icons/arrow-right.svg" alt="left-arrow"></span>
                                                    <p>بلاگ قبلی</p>
                                                </a>
                                                <a href="#" class="pagination-selector">
                                                    <p>بلاگ بعدی</p>
                                                    <span><img class="svg" src="assets/img/icons/arrow-left.svg" alt="right-arrow"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cm-blog__comment">
                                            <h3 class="section-title">نظرات پست</h3>
                                            <div class="cm-blog__comment--list">
                                                <ul>
                                                    <li class="single-comment">
                                                        <div class="comment-author">
                                                            <img src="assets/img/author/blog-6.jpg" alt="monsur Rahman Lito">
                                                        </div>
                                                        <div class="comment-info">
                                                            <div class="author-link">
                                                                <div class="author">منصور رحمان</div>
                                                                <a href="#" class="reply-link">پاسخ</a>
                                                            </div>
                                                            <p class="single-comment__description"> مشاوره عالی!من همیشه در مورد شکار شغل به قدرت سفارشی سازی اعتقاد داشته ام.خیاطی رزومه خود به استخدام کنندگان نشان می دهد که کارهای خانه خود را انجام داده اید و واقعاً به این نقش علاقه مند هستند.قطعاً ارزش تلاش اضافی را دارد! </p>
                                                        </div>
                                                        <li class="single-comment__multicomment">
                                                            <div class="comment-author">
                                                                <img src="assets/img/author/02.png" alt="monsur Rahman Lito">
                                                            </div>
                                                            <div class="comment-info">
                                                                <div class="author-link">
                                                                    <div class="author">منصور رحمان</div>
                                                                    <a href="#" class="reply-link">پاسخ</a>
                                                                </div>
                                                                <p class="single-comment__description"> نقطه روشن!تطبیق رزومه شما برای فرصت های مختلف شغلی می تواند تفاوت بین توجه یا گم شدن در شمع را ایجاد کند.</p>
                                                            </div>
                                                        </li>
                                                    </li>
                                                    <li class="single-comment">
                                                        <div class="comment-author">
                                                            <img src="assets/img/author/blog-6.jpg" alt="monsur Rahman Lito">
                                                        </div>
                                                        <div class="comment-info">
                                                            <div class="author-link">
                                                                <div class="author">منصور رحمان</div>
                                                                <a href="#" class="reply-link">پاسخ</a>
                                                            </div>
                                                            <p class="single-comment__description"> این بسیار مهم است!من قبلاً همان رزومه عمومی را برای هر برنامه ارسال می کردم و نیازی به گفتن آن نبودم ، پاسخ زیادی دریافت نکردم.</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="cm-blog__commentbox">
                                            <h3 class="section-title">نظرات پست</h3>
                                            <div class="cm-blog__commentbox--template">
                                                <form action="#" class="cm-form">
                                                    <div class="single-input">
                                                        <div class="single-input__item">
                                                            <label for="fname">اسم کوچک شما <span>*</span></label>
                                                            <input type="text" name="fname" id="fname" required>
                                                        </div>
                                                        <div class="single-input__item">
                                                            <label for="lname">نام خانوادگی شما <span>*</span></label>
                                                            <input type="text" name="lname" id="lname" required>
                                                        </div>
                                                    </div>
                                                    <div class="single-input">
                                                        <div class="single-input__item">
                                                            <label for="email">آدرس ایمیل شما <span>*</span></label>
                                                            <input type="email" name="email" id="email" required>
                                                        </div>
                                                        <div class="single-input__item">
                                                            <label for="phone">شماره تلفن شما <span>*</span></label>
                                                            <input type="number" name="phone" id="phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="single-input">
                                                        <div class="single-input__item w-full">
                                                            <label for="msg">پیام شما <span>*</span></label>
                                                        <textarea name="msg" id="msg" required></textarea>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="cm-btn primary">ارسال</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    <!-- footer area -->
                    <div class="cm-footer">
                        <div class="cm-footer-content mode">
                            <p>کپی رایت © 1403 <a href="index.html">اکسیز</a>. تمامی حقوق محفوظ است.</p>
                            <a href="#top"><img src="assets/img/icons/arrow-top.svg" alt="arrow-top" width="13" height="25" class="svg"></a>
                        </div>
                    </div>
                    <!-- footer area end -->
                </div>
                <!-- navigation menu -->
                <div class="cm-navigation">
                    <div class="cm-header-menu-bar sticky-top mode">
                        <div class="icon offcanvase">
                        <img src="assets/img/icons/bars.svg" alt="menu" class="svg">
                        </div>
                    </div>
                    <!-- tab item -->
                    <div class="cm-tab-item ">
                        <div class="tab-item-wrapper">
                            <div class="tab-action-item mode">
                                <ul>
                                    <li><a data-title="خانه" class="link" href="index.html"><img src="assets/img/icons/home.svg" width="18" height="16" alt="home" class="svg"></a></li>
                                    <li><a data-title="درباره" class="link" href="about.html"><img src="assets/img/icons/about.svg" width="18" height="16" alt="about" class="svg"></a></li>
                                    <li><a data-title="خدمات" class="link" href="service.html"><img src="assets/img/icons/service.svg" width="18" height="16" alt="service" class="svg"></a></li>
                                    <li><a data-title="نمونه‌کار" class="link" href="portfolio.html"><img src="assets/img/icons/portfolio.svg" width="18" height="16" alt="portfolio" class="svg"></a></li>
                                    <li><a data-title="تحصیلات" class="link" href="education.html"><img src="assets/img/icons/education.svg" width="18" height="16" alt="education" class="svg"></a></li>
                                    <li><a data-title="قیمتگذاری" class="link" href="pricing.html"><img src="assets/img/icons/pricing.svg" width="18" height="16" alt="pricing" class="svg"></a></li>
                                    <li><a data-title="بلاگ" class="link" href="blog.html"><img src="assets/img/icons/blog.svg" width="18" height="16" alt="blog" class="svg"></a></li>
                                    <li><a data-title="تماس" class="link" href="contact.html"><img src="assets/img/icons/contact.svg" width="18" height="16" alt="contact" class="svg"></a></li>
                                </ul>
                            </div>
                            <div class="cm-social-link-text">
                                <ul>
                                    <li><a href="#">فیسبوک</a></li>
                                    <li><a href="#">توییتر</a></li>
                                    <li><a href="#">اینستاگرام</a></li>
                                    <li><a href="#">لینکدین</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- language switcher -->
                    <div class="cm-language-switcher mode">
                        <div class="language-switcher">
                            <select name="lang" id="language">
                                <option value="ar">انگلیسی</option>
                                <option value="ar">فارسی</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- navigation menu end -->
            </div>
        </div>

        <!-- offcanvase menu -->
        <div class="cm-offcanvase">
            <div class="cm-menu-overlay"></div>
            <div class="cm-menu-inner">
                <div class="cm-close-icon"><img src="assets/img/icons/x-lg.svg" alt=""></div>
                <div class="cm-offcanvase__logo logo-area">
                    <a href="index.html"><img class="light" src="assets/img/logo/logo.svg" alt=""></a>
                    <a href="index.html"><img class="dark" src="assets/img/logo/dark-logo.svg" alt=""></a>
                </div>
                <div class="cm-sidemenu">
                    <div class="cm-menu">
                        <ul>
                            <li><a class="link" href="index.html"><img class="svg" src="assets/img/icons/home.svg" alt="">خانه</a></li>
                            <li><a class="link" href="about.html"><img class="svg" src="assets/img/icons/about.svg" alt="">درباره</a></li>
                            <li><a class="link" href="service.html"><img class="svg" src="assets/img/icons/service.svg" alt="">سرویس</a></li>
                            <li><a class="link" href="portfolio.html"><img class="svg" src="assets/img/icons/portfolio.svg" alt="">پروتفولیو</a></li>
                            <li><a class="link" href="pricing.html"><img class="svg" src="assets/img/icons/pricing.svg" alt="">قیمتگذاری</a></li>
                            <li><a class="link" href="education.html"><img class="svg" src="assets/img/icons/education.svg" alt="">تحصیلات</a></li>
                            <li><a class="link" href="blog.html"><img class="svg" src="assets/img/icons/blog.svg" alt="">بلاگ</a></li>
                            <li><a class="link" href="contact.html"><img class="svg" src="assets/img/icons/contact.svg" alt="">تماس</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cm-sidecontact">
                    <h6>تماس با من</h6>
                    <a href="#">+8801712345678</a>
                    <a href="#">axz@axz.com</a>
                </div>
            </div>
        </div>
        <!-- offcanvase menu end -->

         <!-- animation -->
         <div class="animation">
            <div class="animation__screen"></div>
        </div>
        <!-- animation end -->
        
        <!-- jquery -->
        <script src="assets/js/Jquery-3.7.1.js"></script>
        <!-- barba - jquery included -->
        <script src="assets/js/barba.core.js"></script>
        <!-- ajax contact form js -->
        <script src="assets/js/ajax-contact.js"></script>
        <!-- appear - jquery included -->
        <script src="assets/js/appear.min.js"></script>
        <!-- imageloaded pkgd - jquery included -->
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <!-- swiper - jquery included -->
        <script src="assets/js/swiper-bundle-min.js"></script>
        <!-- svginject - jquery included -->
        <script src="assets/js/svginject.min.js"></script>
        <!-- gsap animation -->
        <script src="assets/js/gsap/gsap-3.12.3.js"></script>
        <!-- main js -->
        <script src="assets/js/main.js"></script>
    </body>
</html>