{% extends "base.html" %}
{% load static %}
{% block content %}
                    <!-- header area end -->

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="blog">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="{% static 'img/icons/blog.svg' %}" alt="blog">
                                        </div>
                                        <p>خبرها و بلاگ</p>
                                    </div>
                                    <h1 class="main-title">
                                        با جیکوب مارتین <br>
                                        بهترین خبرها<span> و </span> بلاگ
                                        <u>
                                            <img src="{% static 'img/content/line.svg' %}" alt="">
                                        </u>
                                    </h1>
                                </div>
                                <!-- blog content -->
                                <div class="cm-blogs">
                                    <div class="cm-blog-area">
                                        <!-- single blog item -->
                                        {% for post in posts %}
                                        <div class="single-blog-item">
                                            <a href="{% url 'blog:blogDetails' %}" class="single-blog-item__single">
                                                <img src="{% static 'img/blog/01.jpg' %}" alt="blog">
                                            </a>
                                            <div class="blog__meta">
                                                <span class="author"><a href="#"><img src="{% static 'img/icons/user.svg' %}" alt="user"> رسول </a></span>
                                                <span class="date"><img src="{% static 'img/icons/calendar.svg' %}" alt="calendar"> 9 اردیبهشت 1403 4</span>
                                            </div>
                                            <h4 class="blog-title">
                                                <a href="#">{{Posts.title}}</a>
                                            </h4>
                                            <P>12</P>
                                        </div>
                                        <!-- single blog item end -->
                                         {% endfor %}
                                    </div>
                                    <!-- pagination -->
                                    <div class="cm-site-pagination">
                                        <nav aria-label="pagination-area">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" tabindex="0">01</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                                <li class="page-item"><a class="page-link" href="#">04</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- blog content end -->
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    <!-- footer area -->
                    {% endblock %}