{% extends "base.html" %}
{% load static %}
{% block content %}
                    <!-- header area end -->

                    <!-- content section -->
                    <div class="cm-content-area"  data-barba="container" data-barba-namespace="blog">
                        <div class="cm-content-box mode">
                            <div class="cm-content-item cm-page-template">
                                <div class="cm-content-item__top">
                                    <div class="top-right-bg"></div>
                                    <div class="cm-content-circle">
                                        <svg class="circle" viewBox="0 0 100 100" width="120" height="120">
                                            <defs>
                                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0">
                                                </path>
                                            </defs>
                                            <text>
                                                <textPath xlink:href="#circle">شرکت خدمات طراحی و توسعه وب مارتین
                                                </textPath>
                                            </text>
                                        </svg>
                                        <div class="circle-logo">
                                            <img src="assets/img/logo/circle-logo.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="cm-content-sub">
                                        <div class="icon">
                                        <img class="svg" src="assets/img/icons/blog.svg" alt="blog">
                                        </div>
                                        <p>خبرها و بلاگ</p>
                                    </div>
                                    <h1 class="main-title">
                                        با جیکوب مارتین <br>
                                        بهترین خبرها<span> و </span> بلاگ
                                        <u>
                                            <img src="assets/img/content/line.svg" alt="">
                                        </u>
                                    </h1>
                                </div>
                                <!-- blog content -->
                                <div class="cm-blogs">
                                    <div class="cm-blog-area">
                                        <!-- single blog item -->
                                        <div class="single-blog-item">
                                            <a href="blog-details.html" class="single-blog-item__single">
                                                <img src="assets/img/blog/01.jpg" alt="blog">
                                            </a>
                                            <div class="blog__meta">
                                                <span class="author"><a href="#"><img src="assets/img/icons/user.svg" alt="user"> رسول </a></span>
                                                <span class="date"><img src="assets/img/icons/calendar.svg" alt="calendar"> 9 اردیبهشت 1403 4</span>
                                            </div>
                                            <h4 class="blog-title">
                                                <a href="blog-details.html">تطبیق رزومه خود را برای فرصت های شغلی مختلف</a>
                                            </h4>
                                        </div>
                                        <!-- single blog item end -->
                                        <!-- single blog item -->
                                        <div class="single-blog-item">
                                            <a href="blog-details.html" class="single-blog-item__single">
                                                <img src="assets/img/blog/02.jpg" alt="blog">
                                            </a>
                                            <div class="blog__meta">
                                                <span class="author"><a href="#"><img src="assets/img/icons/user.svg" alt="user"> توما</a></span>
                                                <span class="date"><img src="assets/img/icons/calendar.svg" alt="calendar"> 5 اردیبهشت 1403 </span>
                                            </div>
                                            <h4 class="blog-title">
                                                <a href="blog-details.html">اصلاح رزومه متناسب با چشم انداز اشتغال</a>
                                            </h4>
                                        </div>
                                        <!-- single blog item end -->
                                        <!-- single blog item -->
                                        <div class="single-blog-item">
                                            <a href="blog-details.html" class="single-blog-item__single">
                                                <img src="assets/img/blog/03.jpg" alt="blog">
                                            </a>
                                            <div class="blog__meta">
                                                <span class="author"><a href="#"><img src="assets/img/icons/user.svg" alt="user"> شکیب </a></span>
                                                <span class="date"><img src="assets/img/icons/calendar.svg" alt="calendar"> 9 اردیبهشت 1403 4</span>
                                            </div>
                                            <h4 class="blog-title">
                                                <a href="blog-details.html">سفارشی کردن رزومه خود برای نقشهای شغلی متنوع</a>
                                            </h4>
                                        </div>
                                        <!-- single blog item end -->
                                        <!-- single blog item -->
                                        <div class="single-blog-item">
                                            <a href="blog-details.html" class="single-blog-item__single">
                                                <img src="assets/img/blog/04.jpg" alt="blog">
                                            </a>
                                            <div class="blog__meta">
                                                <span class="author"><a href="#"><img src="assets/img/icons/user.svg" alt="user"> معصومه </a></span>
                                                <span class="date"><img src="assets/img/icons/calendar.svg" alt="calendar"> 10 اردیبهشت 1403 </span>
                                            </div>
                                            <h4 class="blog-title">
                                                <a href="blog-details.html">پیمایش در بازار کار: نکاتی برای افراد متقاضی کار</a>
                                            </h4>
                                        </div>
                                        <!-- single blog item end -->
                                    </div>
                                    <!-- pagination -->
                                    <div class="cm-site-pagination">
                                        <nav aria-label="pagination-area">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" tabindex="0">01</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                                <li class="page-item"><a class="page-link" href="#">04</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <!-- blog content end -->
                            </div>
                        </div>
                    </div>
                    <!-- content section end -->

                    <!-- footer area -->
                    {% endblock %}