{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AXZ - Template for Seamless Personal Portfolio HTML5 Template">
    <meta name="keywords" content="CV, Personal, Writer, Designer, Developer">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Creativemela">
    <title>Hosein Samadi</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'img/logo/logo-resume.png' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- swiper slider css -->
    <link rel="stylesheet" href="{% static 'css/swiper__bundle.css' %}">
    <!-- normalize css -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <body data-barba="wrapper">
        <div class="cm-content" >

            <div class="container">
                <!-- mobile menu -->
                <div class="cm-mobile-menu">
                    <div class="cm-header-menu mode">
                        <div class="menu-left">
                            <div class="logo-area">
                                <a href="{% url 'resume:index' %}"><img class="light" src="{% static 'img/logo/logo-resumei.png' %}" alt="axz"></a>
                                <a href="{% url 'resume:index' %}"><img class="dark" src="{% static 'img/logo/logo-resumei.png' %}" alt="axz"></a>
                            </div>
                            <div class="header-menu">
                                <ul class="list-unstyled">
                                    <li><a href="{% url 'resume:index' %}">خانه</a></li>
                                    <li><a href="{% url 'resume:contact' %}" class="hire">استخدام من!</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="cm-functionality cm-right">
                            <div class="setting" >
                                <div class="mode-switcher mode-mobile" id="theme-mode-2">
                                    <img class="light svg" src="{% static 'img/icons/moon.svg' %}" alt="">
                                    <img class="dark svg" src="{% static 'img/icons/sun.svg' %}" alt="">
                                </div>
                            </div>
                            <div class="offcanvase">
                                <img src="{% static 'img/icons/bars.svg' %}" alt="menu-bar" class="svg">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mobile menu end -->

                <!-- author -->
                <div class="cm-author-view mode sticky-top">
                    <div class="cm-author-content ">
                        <div class="cm-author-image m-img">
                            <img src="{% static 'img/author/HoseinProfile.jpg' %}" alt="">
                            <a href="#" class="author-dribble-link">
                                <img src="{% static 'img/icons/dribble.svg' %}" alt="">
                            </a>
                        </div>
                        <div class="cm-author-info">
                            <h3 class="cm-author-name">حسین صمدی</h3>
                            <span class="cm-author-designation">Developer web, BI, Beekeeper, Youtuber</span>
                        </div>
                        <div class="cm-author-hiring">
                            <a href="{% url 'resume:contact' %}" class="cm-btn primary">استخدام من!</a>
                            <a href="#" class="cm-btn">دانلود رزومه</a>
                        </div>
                        <div class="cm-author-description">
                            <p>مختصص در حوزه BI , Django </p>
                        </div>
                        <div class="cm-author-social-links">
                            <a href="#" class="social-links">
                                <img src="{% static 'img/icons/telegram.svg' %}" alt="twitter-x" height="18" width="18" class="svg">
                            </a>
                            <a href="#" class="social-links">
                                <img src="{% static 'img/icons/whatsapp.svg' %}" alt="twitter-x" height="18" width="18" class="svg">
                            </a>
                            <a href="#" class="social-links">
                                <img src="{% static 'img/icons/instagram.svg' %}" alt="instagram" height="18" width="18" class="svg">
                            </a>
                            <a href="#" class="social-links">
                                <img src="{% static 'img/icons/linkedin.svg' %}" alt="linkedin" height="18" width="18" class="svg">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- author end -->

                <!-- main content -->
                <div class="cm-axz-content">
                    <!-- header area -->
                    <div class="cm-header sticky-top">
                        <div class="cm-header-menu mode">
                            <div class="menu-left">
                                <div class="logo-area">
                                    <a href="{% url 'resume:index' %}"><img class="light" src="{% static 'img/logo/logo-resumei.png' %}" alt="axz"></a>
                                    <a href="{% url 'resume:index' %}"><img class="dark" src="{% static 'img/logo/logo-resumei.png' %}" alt="axz"></a>
                                </div>
                                <div class="header-menu">
                                    <ul class="list-unstyled">
                                        <li><a href="{% url 'resume:index' %}">خانه</a></li>
                                        <li><a href="{% url 'resume:contact' %}" class="hire">استخدام من!</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cm-functionality cm-right">
                                <div class="setting" >
                                    <div class="mode-switcher" id="theme-mode">
                                        <img class="light svg" src="{% static 'img/icons/moon.svg' %}" alt="">
                                        <img class="dark svg" src="{% static 'img/icons/sun.svg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header area end -->
                    {% block content %}


                    {% endblock %}

                       <!-- footer area -->
                       <div class="cm-footer">
                        <div class="cm-footer-content mode">
                            <p>کپی رایت © 1403 <a href="{% url 'resume:index' %}">حسین صمدی</a>. تمامی حقوق محفوظ است.</p>
                            <a href="#top"><img src="{% static 'img/icons/arrow-top.svg' %}" alt="arrow-top" width="13" height="25" class="svg">
                            </a>
                        </div>
                    </div>
                    <!-- footer area end -->
                </div>
                <!-- main content end -->

                <!-- site navigation -->
                <div class="cm-navigation">
                    <div class="cm-header-menu-bar sticky-top mode">
                        <div class="icon offcanvase">
                        <img src="{% static 'img/icons/bars.svg' %}" alt="menu" class="svg">
                        </div>
                    </div>
                    <!-- tab item -->
                    <div class="cm-tab-item ">
                        <div class="tab-item-wrapper">
                            <div class="tab-action-item mode">
                                <ul>
                                    <li><a data-title="خانه" class="link active" href="{% url 'resume:index' %}"><img src="{% static 'img/icons/home.svg' %}" width="18" height="16" alt="home" class="svg"></a></li>
                                    <li><a data-title="درباره من" class="link" href="{% url 'resume:about' %}"><img src="{% static 'img/icons/about.svg' %}" width="18" height="16" alt="about" class="svg"></a></li>
                                    <li><a data-title="تحصیلات ام" class="link" href="{% url 'resume:eduction' %}"><img src="{% static 'img/icons/education.svg' %}" width="18" height="16" alt="education" class="svg"></a></li>
                                    <li><a data-title="نمونه‌کار هام" class="link" href="{% url 'portfolio:portfolio' %}"><img src="{% static 'img/icons/portfolio.svg' %}" width="18" height="16" alt="portfolio" class="svg"></a></li>
                                    <li><a data-title="بلاگ" class="link" href="{% url 'blog:blog' %}"><img src="{% static 'img/icons/blog.svg' %}" width="18" height="16" alt="blog" class="svg"></a></li>
                                    <li><a data-title="تماس با من" class="link" href="{% url 'resume:contact' %}"><img src="{% static 'img/icons/contact.svg' %}" width="18" height="16" alt="contact" class="svg"></a></li>
                                </ul>
                            </div>
                            <div class="cm-social-link-text">
                                <ul>
                                    <li><a href="#">تلگرام</a></li>
                                    <li><a href="#">واتساپ</a></li>
                                    <li><a href="#">اینستاگرام</a></li>
                                    <li><a href="#">لینکدین</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- language switcher -->
                  <!--  <div class="cm-language-switcher mode">
                        <div class="language-switcher">
                            <select name="lang" id="language">
                                <option value="ar">انگلیسی</option>
                                <option value="ar">فارسی</option>
                            </select>
                        </div>
                    </div> -->
                </div>
                <!-- site navigation end -->
            </div>
        </div>

        <!-- offcanvase menu -->
        <div class="cm-offcanvase">
            <div class="cm-menu-overlay"></div>
            <div class="cm-menu-inner">
                <div class="cm-close-icon"><img src="{% static 'img/icons/x-lg.svg' %}" alt=""></div>
                <div class="cm-offcanvase__logo logo-area">
                    <a href="{% url 'resume:index' %}"><img class="light" src="{% static 'img/logo/logo-resume.png' %}" alt=""></a>
                    <a href="{% url 'resume:index' %}"><img class="dark" src="{% static 'img/logo/logo-resume.png' %}" alt=""></a>
                </div>
                <div class="cm-sidemenu">
                    <div class="cm-menu">
                        <ul>
                            <li><a class="link" href="{% url 'resume:index' %}"><img class="svg" src="{% static 'img/icons/home.svg' %}" alt="">خانه</a></li>
                            <li><a class="link" href="{% url 'resume:about' %}"><img class="svg" src="{% static 'img/icons/about.svg' %}" alt="">درباره</a></li>
                            <li><a class="link" href="{% url 'resume:service' %}"><img class="svg" src="{% static 'img/icons/service.svg' %}" alt="">سرویس</a></li>
                            <li><a class="link" href="{% url 'portfolio:portfolio' %}"><img class="svg" src="{% static 'img/icons/portfolio.svg' %}" alt="">پروتفولیو</a></li>
                            <li><a class="link" href="{% url 'resume:pricing' %}"><img class="svg" src="{% static 'img/icons/pricing.svg' %}" alt="">قیمتگذاری</a></li>
                            <li><a class="link" href="{% url 'resume:eduction' %}"><img class="svg" src="{% static 'img/icons/education.svg' %}" alt="">تحصیلات</a></li>
                            <li><a class="link" href="{% url 'blog:blog' %}"><img class="svg" src="{% static 'img/icons/blog.svg' %}" alt="">بلاگ</a></li>
                            <li><a class="link" href="{% url 'resume:contact' %}"><img class="svg" src="{% static 'img/icons/contact.svg' %}" alt="">تماس</a></li>
                        </ul>
                    </div>
                </div>
                <div class="cm-sidecontact">
                    <h6>تماس با من</h6>
                    <a href="#">+989382866408</a>
                    <a href="#">husein.samadi@gmail.com</a>
                </div>
            </div>
        </div>
        <!-- offcanvase menu end -->

        <!-- animation -->
        <div class="animation">
            <div class="animation__screen"></div>
        </div>
        <!-- animation end -->

        <!-- jquery -->
        <script src="{% static 'js/Jquery-3.7.1.js' %}"></script>
        <!-- barba - jquery included -->
        <script src="{% static 'js/barba.core.js' %}"></script>
        <!-- ajax contact form js -->
        <script src="{% static 'js/ajax-contact.js' %}"></script>
        <!-- appear - jquery included -->
        <script src="{% static 'js/appear.min.js' %}"></script>
        <!-- imageloaded pkgd - jquery included -->
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <!-- swiper - jquery included -->
        <script src="{% static 'js/swiper-bundle-min.js' %}"></script>
        <!-- svginject - jquery included -->
        <script src="{% static 'js/svginject.min.js' %}"></script>
        <!-- gsap animation -->
        <script src="{% static 'js/gsap/gsap-3.12.3.js' %}"></script>
        <!-- main js -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>